
body {
    font-family: monospace;
}

figure {
    border: 1px darkgray solid;
    /* display: flex; */
    /* flex-flow: column; */
    /* margin: auto; */
    margin: 0.5em;
}

figcaption {
    background-color: #222;
    color: #ccc;
    padding: .3em;
    /* text-align: center; */
}


